body {
  margin: 20px;
}

.box {
  width: 500px;
  min-height: 300px;
  position: relative;
}

#block1 {
  width: 100%;
  min-height: 300px;
  background: red;
  position: absolute;
  display: block;
}

#block2 {
  width: 100%;
  min-height: 300px;
  background: green;
  position: absolute;
  display: none;
}

.tabs {
  display: flex;
  justify-content: flex-start;
}
.tab {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
}
