body {
  margin: 20px;
}

.box {
  width: 500px;
  min-height: 300px;
  position: relative;
  z-index: 1;
}

#block1 {
  width: 100%;
  min-height: 300px;
  border: 1px solid black;
  position: absolute;
  display: block;
}

#block2 {
  width: 100%;
  min-height: 300px;
  border: 1px solid black;
  position: absolute;
  display: none;
}

.tabs {
  position: relative;
  z-index: 10;
  display: flex;
  margin-bottom: -1px;
}
.tab {
  display: inline-block;
  padding: 5px;
  border: 1px solid white;
  border-bottom: 1px solid black;
}
.active {
  border: 1px solid black;
  border-bottom: 1px solid white;
}
